@import url("https://fonts.googleapis.com/css?family=Oswald");
@import url("https://fonts.googleapis.com/css?family=Poppins");
@import url("https://fonts.googleapis.com/css?family=Overpass");
@import url("https://fonts.googleapis.com/css?family=Montserrat");


#logo-header{
  color: #FFF;
  font-family: Oswald;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin:0;
  cursor: pointer;
}

#header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1.31rem;
  width: 100vw;
  position: sticky;
  top:0;
  z-index: 100;
  box-sizing: border-box;
  background: #1A1A1D;
}

#signup-header{
  color: #FFF;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.section-font{
  color: #FFF;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.active-section-font{
  color: #FFF;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.selected-section-font{
  color: #FFF;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#sections{
  display: flex;
  gap:3.58rem;
}

#header-right{
  display: flex;
  gap:2.39rem;
  flex-shrink: 0;
}

#footer{
  display: flex;
  flex-shrink: 0;
  background: #111;
  align-items: center;
  justify-content: space-around;
  padding: 3rem;
  width: 100vw;
  /* position:fixed;
  bottom: 0; */
  flex-wrap: wrap;
  box-sizing: border-box;
}

#logo-footer{
  color: #FFF;
  font-family: Oswald;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-list-item{
  color: #FFF;
  font-family: Overpass;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer-list-heading{
  color: #DA3714;
  font-family: Overpass;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer-list{
  display: flex;
  flex-direction: column;
  gap:0.56rem;
  flex-wrap: wrap;
}

#main-content{
  margin: 0;
  /* position: fixed; */
  /* top:4.8rem; */
  /* bottom: 14rem; */
  width: 100vw;
  min-height: 61vh;
  overflow: scroll;
}

#trending-heading{
  color: #FFF;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 0.65rem;
}

.trending-list{
  /* width: calc(9.18106rem*1.2); */
  height: calc(13.54975rem*1.2);
  margin: 0;
  display: flex;
  align-items: center;
  /* gap:1.4rem; */
  overflow-y: hidden;
  overflow-x: scroll;
  align-items: center;
  
}
.trending-list::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.trending-image{
  width: 83.90625rem;
  height: 41.76563rem;
  flex-shrink: 0;
  object-fit: contain;
  /* width: 9.18106rem;
  height: 13.54975rem;
  flex-shrink: 0; */
}

.trending{
  width: 9.18106rem;
  height: 13.54975rem;
  z-index: 1000;
  object-fit: cover;
  cursor: pointer;
}


.trending:hover{
  /* display: block; */
  scale: 1.2;
  /* z-index: 200; */
  transition: border .25s cubic-bezier(.33,.04,.63,.93);
  object-fit: cover;
  opacity: 50%;
}

.category-box{
  /* width: 18.75rem;
  height: 20.625rem; */
  width: 19.841vw;
  height: 42.308vh;
  border-radius: 0.75rem;
  /* opacity: 0.699999988079071; */
  background: #131313;
  backdrop-filter: blur(95px);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.category-box:hover{
  cursor: pointer;
  scale: 1.05;
}

.category-img{
  /* width: 18.75rem;
  height: 20.625rem; */
  width: 19.841vw;
  height: 42.308vh;
  position: absolute;
  object-fit:cover;
  opacity: 0.5;
  border-radius: 0.75rem;
  background-color: lightgray;
}

.category-desc{
  width: 14.286vw;
  /* width: fit-content; */
  color: #FFF;
  text-align: center;
  font-family: Overpass;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.06rem;
  text-align: center;
  justify-self: center;
  align-self: center;
  z-index: 100;
  opacity: 100%;
  flex-wrap: wrap;
  position: absolute;
}

.image-container{
  position: relative;
  display: flex;
  justify-content: center;
}
.image-heading{
  width: 79.365vw;
  height: 9rem;
  color: #FFF;
  font-family: Oswald;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;  
  flex-wrap: wrap;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.unauth{
  color: #FFF;
  font-family: Oswald;
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;  
  flex-wrap: wrap;
  text-align: center;
}
.image-overview{
  width: 37.5vw;
  height: 8.812rem;
  /* height: 20px; */
  /* flex-shrink: 0; */
  color: #FFF;
  font-family: Overpass;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem; /* 133.333% */
  letter-spacing: 0.03375rem;
  text-align: left;

  /* white-space: nowrap; */
  /* text-overflow: ellipsis; */
  
  /* overflow: hidden; */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical; 
  /* position: relative; */
  resize: none;
}

/* .image-overview:before {
  content: '...';
  position: absolute;
  right: 0;
  bottom: 0;
}


.image-overview:after {
  content: '';
  position: absolute;
  right: 0;
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  background: white;
} */

.watchnow-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:0.84rem;
  width: 11.01563rem;
  height: 2.8125rem;
  flex-shrink: 0;
  border-radius: 1.6875rem;
  background: #DA3714;
  border: none;
}

.watchnow-btn:hover{
  /* opacity:110%; */
  border: 1px solid white;
  cursor: pointer;
}

.watchnow-text{
  color: #FFF;
  font-family: Overpass;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.03375rem;
}

.watchnow-text-small{
  display: none;
}
.btn-holder{
  display: flex;
  flex-direction: column;
  gap: 0.38rem;
  align-items: center;
}

.btn-holder-text{
  color: #FFF;
  font-family: Overpass;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 160% */
  letter-spacing: 0.02813rem;
}

.trending-title{
  position: absolute;
  /* display: none; */
  bottom: 1rem;
  width: 9.18106rem;
  opacity: 0;

  color: #FFF;
  font-family: Overpass;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 160% */
  letter-spacing: 0.02813rem;
}

.trending-wrapper{
  position: relative;
  padding: 0.7rem;
}

.trending-wrapper:hover .trending-title{
  opacity: 1;
}

.close-btn{
  position: absolute;
  border: none;
  background: inherit;
  background-size:cover;
  width: 2vw;
  height: 4vh;
  border-radius: 20px;
  color: #FFF;
  top: 2vh;
  /* left: "87vw"; */
  z-index: 300;
}

.close-btn:hover{
  background: gray;
  opacity: 70%;
  cursor: pointer;
}

.movie-title{
  color: #FFF;
  font-family: Oswald;
  font-size: 5.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  /* width: 14.616vw; */
  width: 44vw;
  align-self: flex-start;
}

.movie-rating{
  color: #727171;
font-family: Poppins;
font-size: 2rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}


.movie-cat{
  border-radius: 1.40694rem;
  border: 1.072px solid #DA3714;
  background: rgba(72, 13, 13, 0.00);
  display: flex;
  width: 9.65788vw;
  /* height: 2.47625rem; */
  padding: 0.45025rem 2.92644rem;
  align-items: flex-start;
  justify-content: center;
  gap: 1.80088rem;
  flex-shrink: 0;
}

.movie-cat-text{
  color: #DA3714;
  font-family: Montserrat;
  font-size: 1.35069rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.movie-desc{
  color: #FFF;
  font-family: Overpass;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.06rem;
  width: 87.976vw;
  /* height: 15.897vh; */
  flex-shrink: 0;
  text-align: justify;
  /* overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical; */
}

.play-btn{
  flex-shrink: 0;
}
.play-btn-small{
  display: none;
}
.play-btn:hover{
  cursor: pointer;
  /* border: 1px solid white; */
}

.active-tab{
  width: 1.5rem;
  height: 0.23438rem;
  background: #DA3714;
  /* font-weight: 700; */
}

.inactive-tab{
  display: none;
}


/* .trending-wrapper-container{ */
  /* opacity: 1; */
  /* display: flex; */
  /* Use this for responsive design of the movie lists,  like padding left and right to be 1 or 2 rem when small screen */
/* } */

#hamburger{
  display: none;
}

.page2-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
}

/* .page2{
  position: absolute;
} */
.imdb-logo{
  display: block;
}

.imdb-logo-small{
  /* flex-shrink: 0; */
  display: none;
}

@media screen and (max-width: 1200px){
  .trending-wrapper-container{
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    padding-top: 2rem !important;
  }
  #logo-header{
    color: #FFF;
    font-family: Oswald;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin:0;
    cursor: pointer;
  }
  
  #header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin:auto; */
    /* margin-right: 3vw; */
    padding: 0.71rem;
    padding-left: 6vw;
    padding-right: 3vw;
    width: 100vw;
    position: sticky;
    top:0;
    z-index: 100;
    box-sizing: border-box;
    background: #1A1A1D;
  }
  
  #sections{
    /* display: flex;
    gap:3.58rem; */
    display: none;
  }
  
  #header-right{
    /* display: flex;
    gap:2.39rem;
    flex-shrink: 0; */
    display: none;
  }

  #hamburger{
    display: block;
  }

  .watchnow-text-small{
    display: inline;
    color: #FFF;
    font-family: Overpass;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.03375rem;
  }

  .watchnow-text{
    display: none;
  }

  .watchnow-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.84rem;
    width: 8.01563rem;
    height: 2.8125rem;
    flex-shrink: 0;
    border-radius: 1.6875rem;
    background: #DA3714;
    border: none;
  }
  .play-btn-small{
    display: block;
    flex-shrink: 0;
  }

  .play-btn{
    display: none;
  }

  .page2-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 25vw;
  }


  .category-desc{
    width: 14.286vw;
    /* width: fit-content; */
    color: #FFF;
    text-align: center;
    font-family: Overpass;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.06rem;
    text-align: center;
    justify-self: center;
    align-self: center;
    z-index: 100;
    opacity: 100%;
    flex-wrap: wrap;
    position: absolute;
  }

  .movie-title{
    color: #FFF;
    font-family: Oswald;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* width: 14.616vw; */
    width: 44vw;
    align-self: flex-start;
  }

  /* .btn-holder{
    display: none;
  } */
  .imdb{
    width: 50vw !important;
  }

  .movie-rating{
    color: #727171;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  }

  .imdb-logo{
    display: none;
  }

  .imdb-logo-small{
    flex-shrink: 0;
    display: block;
  }
  .cats{
    width: 50vw !important;
    flex-wrap: wrap;
  }

  .movie-cat{
    border-radius: 1.40694rem;
    border: 1.072px solid #DA3714;
    background: rgba(72, 13, 13, 0.00);
    display: flex;
    width: 4.65788vw;
    /* height: 2.47625rem; */
    padding: 0.45025rem 2.92644rem;
    align-items: flex-start;
    justify-content: center;
    gap: 1.80088rem;
    flex-shrink: 0;
  }
  
  .movie-cat-text{
    color: #DA3714;
    font-family: Montserrat;
    font-size: 0.85069rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .movie-desc{
    color: #FFF;
    font-family: Overpass;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.06rem;
    width: 87.976vw;
    /* height: 15.897vh; */
    flex-shrink: 0;
    text-align: justify;
    /* overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical; */
  }
}